# Querry data with Pandas:

How many people of each race are represented in this dataset? 
What is the average age of men?
What is the percentage of people who have a Bachelor's degree?
What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
What percentage of people without advanced education make more than 50K?
What is the minimum number of hours a person works per week?
What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
What country has the highest percentage of people that earn >50K and what is that percentage?
Identify the most popular occupation for those who earn >50K in India.
Use the starter code in the file demographic_data_analyzer. Update the code so all variables set to "None" are set to the appropriate calculation or code.

In [179]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\igieo\Desktop\adult.data.csv')

In [375]:
df.sample(6)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
25591,52,Private,153751,9th,5,Separated,Other-service,Not-in-family,Black,Female,0,0,30,United-States,<=50K
10759,37,Private,321943,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
32292,41,Private,318046,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,48,United-States,>50K
10152,29,Private,29865,HS-grad,9,Divorced,Sales,Not-in-family,Amer-Indian-Eskimo,Female,0,0,50,United-States,<=50K
16631,27,Private,112754,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1485,60,United-States,>50K
13031,35,Private,298635,Bachelors,13,Never-married,Sales,Not-in-family,Asian-Pac-Islander,Male,0,0,50,United-States,<=50K

In [387]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [421]:
# What is the average age of men?
average_age_men = df[df.sex == 'Male'].age.mean()
round(average_age_men, 2)

39.43

In [397]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = (df.education.value_counts().Bachelors)/(df.education.value_counts().sum())*100
percentage_bachelors.round(2)

16.45

In [396]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df.loc[df['education'].isin(['Bachelors','Masters','Doctorate'])].education.value_counts().sum()/df.education.value_counts().sum()* 100
higher_education.round(2)

23.01

In [398]:
# without `Bachelors`, `Masters`, or `Doctorate`
lower_education = 100 - higher_education
lower_education.round(2)

76.99

In [399]:
# percentage with salary >50K
higher_education_rich = ((df.loc[df['education'].isin(['Bachelors','Masters','Doctorate'])].salary.value_counts()).loc['>50K'])/(df.loc[df['education'].isin(['Bachelors','Masters','Doctorate'])].education.value_counts().sum())*100
ttle = df.education.value_counts().sum() - df.loc[df['education'].isin(['Bachelors','Masters','Doctorate'])].education.value_counts().sum()
ttler = df.salary.value_counts().loc['>50K'] - (df.loc[df['education'].isin(['Bachelors','Masters','Doctorate'])].salary.value_counts()).loc['>50K']
lower_education_rich = ttler/ttle*100
lower_education_rich.round(2)

17.37

In [384]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

min_work_hours

1

In [382]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = (df['hours-per-week'] == min_work_hours).sum()

rich_percentage = (df.loc[(df['salary']=='>50K') & (df['hours-per-week']==min_work_hours)])['hours-per-week'].sum()/num_min_workers*100
rich_percentage

10.0

In [425]:
# What country has the highest percentage of people that earn >50K?
dn1 = df['native-country'][df.salary == '>50K'].value_counts()
dn2 = df['native-country'].value_counts()
df2 = pd.concat([dn1, dn2], axis=1)
df2.columns = ['countryr', 'countryt']
df2['perc_country'] = df2.countryr/df2.countryt

highest_earning_country = df2['perc_country'].idxmax()
highest_earning_country

'Iran'

In [426]:
    
#highest_earning_country_percentage 
round(df2['perc_country'].max()*100,1)

41.9

In [378]:
#Identify the most popular occupation for those who earn >50K in India.top_IN_occupation = 
df['occupation'][df.salary == '>50K'][df['native-country'] == 'India' ].value_counts().index[0]

'Prof-specialty'